@import "~normalize.css";
@font-face {
  font-family: 'KumbhSans';
  src: url('../font/KumbhSans-Regular.ttf');
}

@import "header";
@import "toolbar";
@import "formula";
@import "table";
@import "dashboard";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: KumbhSans, sans-serif;
}
.excel {
  position: relative;
  color: #888;
  height: 100%;
  max-width: 100%;
  font-size: .8em;
}