@import "variables";
@import "mixins";

.excel__table {
  position: absolute;
  left: 0;
  right: 0;
  top: $header-height + $toolbar-height + $formula-height;
  overflow-x: auto;
  padding-bottom: 2px;
  .row {
    display: flex;
    min-height: 20px;
    height: $row-height;

  }
  .row-info {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $info-cell-width;
    height: 100%;
    border: 1px solid $border-color;
    background: #f8f9fa;
    border-top: none;
    position: relative;

  }
  .row-data {
    display: flex;
  }
  .column {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f9fa;
    min-width: 40px;
    width: $cell-width;
    border: 1px solid $border-color;
    border-top: 0;
    border-left: 0;
    height: 100%;
    position: relative;
  }
  .cell {
    min-width: 40px;
    padding: 5px;
    width: $cell-width;
    height: 100%;
    border: 1px solid #e2e3e3;
    border-top: 0;
    border-right: 0;
    color: #111;
    white-space: nowrap;
    outline: none;

    &.selected {
      border: none;
      outline: 2px solid #3c774f;
      z-index: 2;
    }
  }
  .col-resize, .row-resize {
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0;
    background-color: #1a8732;
  }
  .col-resize {
    top: 0;
    width: 4px;


    &:hover {
      opacity: 1;
      cursor: col-resize;
    }
  }
  .row-resize {
    left: 0;
    height: 4px;

    &:hover {
      opacity: 1;
      cursor: row-resize;
    }

  }
}