@import "variables";
@import "mixins";

.excel__toolbar {
  background: darkorange;
  position: absolute;
  left: 0;
  right: 0;
  top: $header-height;
  height: $toolbar-height;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid  $border-color;
  padding: 7px 10px;
  display: flex;

  .button {
    @include button(green)
  }
}
